<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <div class="fs-1 fw-bold text-primary">Menu ({{ totalPrice | currency:"USD" }})</div>
    <div>
      <button type="button" class="btn btn-primary" [disabled]=" totalQty <= 0" [routerLink]="['/place-order']">
        Place Order ({{ totalQty }})
      </button>
    </div>
  </div>
</div>

@if ( menus$ | async; as menus) {
  @if (currOrder$ | async; as currOrder) {
    @for (m of menus; track $index) {
      <div class="row mb-2">
        <div class="col">
          <div class="menu-item">
            <div>
              <button type="button" class="btn btn-warning" (click)="delItem(m.id)">
                <i class="bi bi-x-square"></i>
              </button>
            </div>
            <div class="menu-details">
              <div>Name: <span class="fw-bold">{{ m.name }}</span></div>
              <div>Description:
                <span class="fst-italic">{{ m.description }}</span>
              </div>
              <div>Price:
                <span>{{ m.price | currency:"USD" }}</span>
              </div>
              @for (item of currOrder; track $index) {
                @if (item.id == m.id) {
                  <div class="text-danger fw-bold">Quantity: {{ item.quantity }}</div>
                }
              }
            </div>
            <div class="menu-button-end">
              <button type="button" class="btn btn-success" (click)="addItem(m.id, m.price, m.name)">
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    }
  }
} @else {
  <h2>Loading menu...</h2>
}

<!-- <div class="row mb-2">
  <div class="col">
    <div class="menu-item">
      <div>
        <button type="button" class="btn btn-warning">
          <i class="bi bi-x-square"></i>
        </button>
      </div>
      <div class="menu-details">
        <div>Name: <span class="fw-bold"> XXX </span> </div>
        <div>Description:
          <span class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </span>
        </div>
        <div></div>
          <div class="text-danger fw-bold">Quantity: XXX</div>
      </div>
      <div class="menu-button-end">
        <button type="button" class="btn btn-success">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div> -->
